//! Mixin

@mixin myBox($bgColor, $fontColor) {
  background-color: $bgColor;
  color: $fontColor;
  width: 25%;
  height: 200px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
