//! Variable Declaration
//**********************/

$bgColor: pink;
$fontColor: white;
$fontSize: 1.2rem;
$fontFamily: "tahoma";
$navBgColor: #30a7c3;
$myLinkSize: 19px;
$sliderBgColor: #cc6699;
